# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ArtDemo.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\M\Documents\Unreal Projects\ArtDemo\.idea\.idea.ArtDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
